@charset "utf-8";
/* CSS Document */

h1 {
	font-family: aclonica;
	font-style: normal;
	font-weight: 400;
}
#introImg   {
	width: 100%;
	-webkit-box-shadow: 0 0;
	box-shadow: 0 0;
	margin-top: 20px;
}
#navImg   {
	width: 80%;
	display: block;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
}
#home #content {
	background-color: #FFFFFF;
}


#footer{
	position: absolute;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
} 
#lettura {
	height: 90%;

}
#header {
	background-color: #FFFFFF;
	border: none;
	position:fixed;
	z-index:10;
	top:0;
	width:100%
}
.hstyle {
	background-color:#9D0B15;
	color:#ffffff;
	width: 100%;
	text-align: center;
}
#output {
    -webkit-overflow-scrolling: touch;
}
.separatore {
	background-color: #9D0B15;
	border:none;
	height: 5px;
}
.iosinput {
	width:96%;
	margin-right: auto;
	margin-left: auto;
    -moz-border-radius:0.3125em; /* Firefox */
    -webkit-border-radius: 0.3125em; /* Safari, Chrome */
    -khtml-border-radius: 0.3125em; /* KHTML */
    border-radius: 0.3125em; /* CSS3 */
	border-color: #9d0b15;
    behavior:url("border-radius.htc");
}
.legenda {
    color: #999999;
    font-size: 10px;
    font-weight: normal;
	margin-left: 5px;
}
